<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DineOut"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCu2EDQyjdjX-UJ_uiMfMttvCB2nQBGDBY" />

        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DineOut">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".ui.screens.MainActivity" />

        <activity
            android:name=".ui.screens.RestaurantDetailActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:parentActivityName=".ui.screens.MainActivity" />

        <activity
            android:name=".ui.screens.MenuScreen"
            android:exported="false"
            android:label="@string/menu_preview"
            android:parentActivityName=".ui.screens.RestaurantDetailActivity" />

        <activity
            android:name=".ui.screens.CartScreen"
            android:exported="false"
            android:label="@string/cart"
            android:parentActivityName=".ui.screens.MainActivity" />

        <activity
            android:name=".ui.screens.CheckoutScreen"
            android:exported="false"
            android:label="@string/checkout"
            android:parentActivityName=".ui.screens.CartScreen" />

        <activity
            android:name=".ui.screens.QRCodeScreen"
            android:exported="false"
            android:label="@string/order_confirmation"
            android:parentActivityName=".ui.screens.CheckoutScreen" />

        <activity
            android:name=".ui.screens.OrderHistoryScreen"
            android:exported="false"
            android:parentActivityName=".ui.screens.MainActivity" />

        <activity
            android:name=".ui.screens.OrderDetailScreen"
            android:exported="false"
            android:parentActivityName=".ui.screens.OrderHistoryScreen" />
    </application>

</manifest>